<h1>Reporte de ventas</h1>

<table border="1">
    <thead>
        <th>Código Pedido</th>
        <th>Fecha Pedido</th>
        <th>Bowl</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% load mathfilters %}
        {% for pedido in pedidos %}
            <tr>
                <td>{{pedido.cod_ped}}</td>
                <td>{{pedido.fecha_ped}}</td>
                <td>{{pedido.bowl.nom_Bowl}}</td>
                <td>{{pedido.bowl.precio_Bowl|mul:pedido.cantidad}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>