<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
    <title>Ver</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
      </button>      
      {% load static %}
      
      <!-- insertar logo -->            
      <a class="navbar-brand " href="#">
        <img src="{% static 'img/logo.jpg'%}" width="60" height="60" alt="">
      </a>
      <div class="collapse navbar-collapse " id="opciones">   
        <ul class="navbar-nav">                
          <li class="nav-item " >                  
            <h3 style="text-align: center">DressYourSalad</h3>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Volver a Pagina principal</a>
          </li>               
        </ul>  
      </div>
        <!-- insertar botones --> 
        
  </nav>           
    <!-- fin navbar -->      
    <br><br><br><br>
    <div class="galeria">
        <h3>Mostrando Carrito</h3>
        <div class="linea"></div>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Código pedido</th>
                <th scope="col">Bowl</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total a Pagar</th>
            </tr>
        </thead>
        <tbody>
            {% load mathfilters %}
            
                <tr>
                    <td>{{pedidos.cod_ped}}</td>
                    <td>{{pedidos.bowl.nom_Bowl}}</td>
                    <td>{{pedidos.cantidad}}</td>
                    <td>{{pedidos.bowl.precio_Bowl}}</td>
                    <td>{{pedidos.bowl.precio_Bowl|mul:pedidos.cantidad}}</td>
                    <td><a href="{% url 'pago' %}" class="btn btn-danger" id="btnprueba">Pagar Pedido</a>
                    <a href="{% url 'form_eliminar_carrito' pedidos.cod_ped%}" class="btn btn-danger" id="btnprueba">Eliminar Pedido</a></td>
                </tr>
            
        </tbody>        
      </table>
    <br><br><br>


    </div>

        <br><br><br><br><br><br>   
        <br><br><br><br><br><br> <br>



    <footer class= "container-fluid footer" >
      <p>Encuentranos en Pajaritos #1021, Plaza de Maipú  
      </p>           
      <p>Síguenos: 
        <i class="fa fa-whatsapp"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-envelope"></i> 
        <i class="fa fa-instagram"></i> 
        <i class="fa fa-twitter"></i> 
      </p>
      <p>©2022 Cristobal Jiménez - Nancy Torres - Danko Zamarin | Derechos reservados </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>