<!DOCTYPE html>

<html>
<head>
    {% load static %}
	<title>Django Social</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleregistro.css'%}"> 
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}"> -->
	<!-- <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet">  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}">
</head>
<body style="background-color: #9acd32;">

	
		  




    <header class="main-head" style="background-color: #008000;">
		<nav class="main" style="background-color: #008000;">
			<h1 id="logo" style="color: #ffffff;">Ingreso de datos</h1>
			 <a href="#">
				<img src="{% static 'img/nombreEmpresa.jpeg'%}" id="borde"     >
             </a>
			<ul>
				
				<li><a href="{% url 'index' %}" style="color: #ffffff;">Inicio</a></li>
				
				
			</ul>
		</nav>
	</header> 
    

	<!-- {% if messages %}
		{% for message in messages %}
		<div class="notification {{ message.tags}}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %} -->

	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div class="main">
		
        


		{% block content %}

		{% endblock content %}



	</div>


	

	

		
	

	

	
</body>
</html>